* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  background-image: url("./imgs/dandelion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 30vw;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(50, 50, 55, 0.1);
  border-radius: 25% 10%;
}
.name,
.password {
  height: 30px;
  border-radius: 5px;
  border-style: none;
  margin: 10px 0 10px 0;
  padding-left: 10px;
}
label,
.btn {
  font-weight: 600;
}
.btn {
  margin-top: 40px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border-style: none;
  background-color: rgba(229, 224, 224, 0.3);
}
